# Database
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/your-database-name

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET_KEY=your-secret-key-here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_TIME=900          # Đơn vị: giây (= 15 phút)
REFRESH_TOKEN_EXPIRE_TIME=604800      # Đơn vị:  giây (= 7 ngày)

# Redis TTL
ONLINE_STATUS_EXPIRE_TIME=300        # Đơn vị: giây (= 5 phút)

# Admin
ADMIN_REGISTRATION_KEY=your-admin-key-here

# Cookie
COOKIE_SECURE=False                  # Đặt True khi deploy HTTPS